{% if user.is_authenticated %}
    <p>Current user: {{ user.email }}</p>
    <form action="{% url 'oidc_logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="logout">
    </form>

    <h2>Products</h2>

    <a href="{% url "product-create" %}">Add a product</a>
    <hr />

    {% for product in products %}
        View <a href="{% url "product-detail" product.pk %}">{{ product.name }}</a>
        |
        Edit <a href="{% url "product-update" product.pk %}">{{ product.name }}</a>
        <br />
    {% endfor %}
{% else %}
    <a href="{% url 'oidc_authentication_init' %}">Login</a>
{% endif %}
